body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #1c1c1c;
}

/* HERO */
.hero-section {
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1576091160550-2173dba999ef");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* SCROLL EFFECT */

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 20px 40px;
}

.hero-content {
  max-width: 800px;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero-content p {
  font-size: 18px;
  color: #f1f3f5;
}


/* INFO SECTION */
.glass-section {
  background: linear-gradient(180deg, #f0f7ff, #ffffff);
  padding: 90px 0;
}

.glass-card {
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 18px;
  padding: 42px 30px;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.078);
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.glass-card h4 {
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px;
}

.glass-card p {
  color: #000000;
  font-size: 15.5px;
  line-height: 1.7;
}

.glass-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 30px 65px rgba(13, 19, 40, 0.28);
}

@media (max-width: 768px) {
  .hero-section {
    background-attachment: scroll;
  }

  .hero-content h1 {
    font-size: 34px;
  }
}


/* IMAGE SCROLL SECTIONS */
.image-section {
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-1 {
  background-image: url("https://images.unsplash.com/photo-1584036561566-baf8f5f1b144");
}

.img-2 {
  background-image: url("https://images.unsplash.com/photo-1579154204601-01588f351e67");
}

.image-overlay {
  background: rgba(255, 255, 255, 0.85);
  padding: 50px;
  max-width: 700px;
  text-align: center;
  border-radius: 6px;
}

.image-overlay h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.image-overlay p {
  font-size: 17px;
  color: #444;
}

/* FOOTER */
.footer {
  background: #f1f3f5;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #555;
<<<<<<< HEAD
}
=======
}
/* DASHBOARD BOX STYLE */
.dashboard-box {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 25px;
  height: 100%;
}

.dashboard-box h5 {
  font-weight: 600;
  margin-bottom: 15px;
}

.status-box {
  background-color: #e7f6ff;
  border: 1px solid #b6e2f2;
  padding: 15px;
  border-radius: 6px;
  margin-top: 15px;
}
>>>>>>> 32e3c12d6151f583eedfe8547c4cc671e401fa03
